/* Language Pages */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #008080;
}

p {
  line-height: 1.6;
}

h2 {
  font-size: 1.8em;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #008080;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #0066cc;
}

a:hover {
  text-decoration: underline;
}

/* Lessons */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

.lesson {
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  table {
    overflow-x: auto;
    display: block;
  }

  th, td {
    white-space: nowrap;
  }
}

/* Quiz Page */
.quiz-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  min-height: 450px;
}

h1 {
  margin-bottom: 20px;
}

.quiz-info {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.quiz-description {
  width: 45%;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.quiz-description:hover {
  transform: translateY(-5px);
}

h2 {
  margin-bottom: 10px;
  color: #333;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.quiz-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.quiz-button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
} 

/* Quizzes */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

h2.quizHeader {
  text-align: center;
  color: #333;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}

.question {
  font-weight: bold;
  margin-bottom: 5px;
}

.answer {
  margin-right: 10px;
}

.quizSubmit,
.quizReset {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  margin-top: 10px;
}

.quizSubmit:hover,
.quizReset:hover {
  background-color: #0056b3;
}

.submitter,
.resetter {
  text-align: center;
}

.quizScore {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

/* Language Learning Page styles */
.language-learning-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

/* Section title styles */
.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Hero section styles */
.hero-section {
  text-align: center;
  margin-bottom: 40px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 20px;
}

/* Language selection styles */
.language-selection {
  margin-bottom: 30px;
}

.language-button {
  display: inline-block;
  margin: 0 10px;
  padding: 12px 24px;
  background-color: green;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.language-button:hover {
  background-color: white;
  color: green;
  border: green 2px solid;
}

.resources-section {
  margin-bottom: 30px;
}

.resources-section h3 {
  margin-top: 30px;
}

.resource-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
}

.resource-column {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

.resource-card {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.community-section {
  margin-bottom: 30px;
}

.community-link {
  display: inline-block;
  padding: 12px 24px;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.community-link:hover {
  background-color: white;
  color: green;
  border: green 2px solid;
}

.progress-section {
  margin-bottom: 30px;
}

.progress-link {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ffc107;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.progress-link:hover {
  background-color: #d39e00;
}

/* Recommended section styles */
.recommended-section {
  margin-bottom: 30px;
}

.grammar-img,
.quiz-img {
  height: 400px !important;
  width: 400px !important;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .resource-card {
    flex: 0 1 100%;
  }
}

/* Home.css */
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  text-align: center;
  margin-bottom: 40px;
}

.feature-card {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.feature-card h3 {
  margin-bottom: 10px;
}

.cta {
  text-align: center;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.cta button {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.cta button:hover {
  background-color: #0056b3;
}

/* Header */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

header {
  font-size: larger;
}

.btn-link {
  text-decoration: none !important;
}

.navbar-icon-top .navbar-nav .nav-link>.fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link>.fa {
  top: 3px;
  line-height: 12px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link>.fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link>.fa>.badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link>.fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link>.fa>.badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fa>.badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link>.fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link>.fa>.badge {
    top: -7px;
  }
}

/* Contact Us */
.contact {
  padding: 4%;
}

.col-md-3 {
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: 3px 3px 3px 3px orange;
}

.contact-info {
  margin-top: 10%;
}

.contact-info img {
  margin-bottom: 15%;
}

.contact-info h2 {
  margin-bottom: 10%;
}

.col-md-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 3px 3px 3px 3px orange;
  max-width: 700px;
}

.contact-form label {
  font-weight: 600;
}

.col-sm-10 {
  text-align: center;
}

.contact-form button:focus {
  box-shadow: none;
}

/*Login Page*/
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.login-content {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px;
  width: 400px;
  max-width: 80%;
  box-shadow: 3px 3px 3px 3px orange;
}

.login-form {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  margin-bottom: 5px;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.new-to-page {
  margin-top: 20px;
  text-align: center;
}

.new-to-page a {
  color: #007bff;
  text-decoration: none;
}

.new-to-page a:hover {
  text-decoration: underline;
}

/* Signup */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.signup-content {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px;
  width: 400px;
  max-width: 80%;
  box-shadow: 3px 3px 3px 3px orange;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  margin-bottom: 5px;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.error {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

/* Footer */
.footer-basic {
  padding: 30px;
  background-color: #343a40 !important;
  color: white;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}